<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header-fragments :: header-input('Text Input Form')"></div>
</head>
<body>
<div class="max-w-screen-md mx-auto p-5">
    <div class="text-center mb-16">
        <p class="mt-4 text-sm leading-7 text-gray-500 font-regular uppercase">
            Quiz
        </p>
        <h3 class="text-3xl sm:text-4xl leading-normal font-extrabold tracking-tight text-gray-900">
            Add a <span class="text-indigo-600">Question</span>
        </h3>
    </div>
    <form action="#"
          th:data-question-form-count="${addQuestionForm.choices.length}" id="question-form"
          th:action="@{/add-question}" th:object="${addQuestionForm}" method="post"
          class="w-full">
        <div>
            <input type="radio"
                   value="single" id="choice1" name="choiceType" checked="checked"/>
            <label
                    class="radio"
                    for="choice1">Single Choice</label>
            <input type="radio"
                   value="multiple" id="choice2" name="choiceType"/>
            <label
                    class="radio"
                    for="choice2">Multiple Choice</label>
        </div>

        <div th:if="${#fields.hasGlobalErrors()}" class="rounded-md bg-yellow-50 p-4 mb-4">
            <div class="flex">
                <div class="flex-shrink-0">
                    <!-- Heroicon name: solid/exclamation -->
                    <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z"
                              clip-rule="evenodd"/>
                    </svg>
                </div>
                <div class="ml-3">
                    <h3 class="text-sm font-medium text-yellow-800">Attention needed</h3>
                    <div class="mt-2 text-sm text-yellow-700">
                        <p th:each="error:${#fields.globalErrors()}" th:text="${error}">
                            Sample Error Message
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap flex-col -mx-3 mb-6">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                Question Text
                <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></p>
            </label>
            <div class="flex">
                <div class="w-1/2 mr-4">
                 <textarea type="text" id="question-text" th:field="*{text}" rows="10" cols="30"
                           class="appearance-none block bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                </div>
                <div class="w-1/2">
                    <div id="question-text-preview"
                         class="w-full appearance-none block bg-gray-100 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></div>
                </div>
            </div>
            <div id="choice-input-form-list">
                <div th:each="choice, stat : *{choices}">
                    <div th:replace="fragments/form-fragments :: choice-input('choices[__${stat.index}__].choice', 'choices[__${stat.index}__].correctAnswer', ${#fields.hasErrors('choices[__${stat.index}__].choice')}, ${stat.count}, ${addQuestionForm.choices.length})"></div>
                </div>
            </div>
            <div class="flex justify-end mb-3">
                <div>
                    <button type="button"
                            id="add-new-choice"
                            class="shadow mt-3 bg-indigo-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded">
                        <i class="fa fa-plus" aria-hidden="true"></i>Add new choice
                    </button>
                </div>
            </div>
            <button data-modal-toggle="popup-modal" type="submit"
                    class="shadow bg-indigo-600 hover:bg-indigo-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-6 rounded">
                Create
            </button>
        </div>
    </form>

    <div class="bg-black bg-opacity-50 absolute inset-0 hidden justify-center items-center" id="delete-modal-overlay">
        <div class="bg-gray-200 max-w-sm py-2 px-3 rounded shadow-xl text-gray-800">
            <div class="flex justify-between items-center">
                <h4 class="text-lg font-bold">Confirm Delete?</h4>
                <svg class="h-6 w-6 cursor-pointer p-1 hover:bg-gray-300 rounded-full"
                     th:attr="onclick=|closeDeleteModal()|"
                     fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </div>
            <div class="mt-2 text-sm">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, sunt.</p>
            </div>
            <div class="mt-3 flex justify-end space-x-3">
                <button th:attr="onclick=|closeDeleteModal()|"
                        class="px-3 py-1 rounded hover:bg-red-300 hover:bg-opacity-50 hover:text-red-900">Cancel
                </button>
                <button class="px-3 py-1 bg-red-800 text-gray-200 hover:bg-red-600 rounded">Delete</button>
            </div>
        </div>
    </div>

    <div class="bg-black bg-opacity-50 absolute inset-0 hidden justify-center items-center" id="not-permitted-modal-overlay">
        <div class="bg-gray-200 max-w-sm py-2 px-3 rounded shadow-xl text-gray-800">
            <div class="flex justify-between items-center">
                <h4 class="text-lg font-bold">Not Permitted</h4>
                <svg class="h-6 w-6 cursor-pointer p-1 hover:bg-gray-300 rounded-full"
                     th:attr="onclick=|closeNotPermittedModal()|"
                     fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </div>
            <div class="mt-2 text-sm">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores, sunt.</p>
            </div>
            <div class="mt-3 flex justify-end space-x-3">
                <button th:attr="onclick=|closeNotPermittedModal()|"
                        class="px-3 py-1 bg-indigo-600 rounded hover:bg-indigo-400 hover:bg-opacity-50 text-slate-300 hover:text-white font-bold">Cancel
                </button>
            </div>
        </div>
    </div>

    <!-- TODO: refactor using https://hyperscript.org/comparison/#fetch-and-insert -->
    <script th:inline="javascript">
        var converter = new showdown.Converter();
        var textAreaElement = document.getElementById("question-text");
        textAreaElement.addEventListener("input", function (event) {
            var rawMarkDown = event.target.value;
            var convertedHtml = converter.makeHtml(rawMarkDown);
            var previewArea = document.getElementById("question-text-preview");
            previewArea.innerHTML = convertedHtml;
        });

        var addChoiceButton = document.getElementById("add-new-choice");
        addChoiceButton.addEventListener("click", function (event) {
            addExtraChoice();
        });

        function addExtraChoice() {
            var questionForm = document.getElementById("question-form");
            var count = questionForm.getAttribute("data-question-form-count");
            var choiceInputFormList = document.getElementById("choice-input-form-list");

            fetch(`/add-choice?index=${count}`)
                    .then(response => response.text())
                    .then(fragment => {
                        choiceInputFormList.appendChild(htmlToElement(fragment));
                        questionForm.setAttribute('data-question-form-count', parseInt(count) + 1);
                    });
        }

        function htmlToElement(html) {
            var template = document.createElement('template');
            html = html.trim();
            template.innerHTML = "<div>" + html + "</div>";
            return template.content.firstChild;
        }

        function openDeleteModal(choiceNumber) {
            var questionForm = document.getElementById("question-form");
            var count = questionForm.getAttribute("data-question-form-count");

            if (parseInt(count) == parseInt(choiceNumber)) {
                const deleteModalOverlay = document.querySelector('#delete-modal-overlay');
                deleteModalOverlay.classList.toggle('hidden');
                deleteModalOverlay.classList.toggle('flex');
            }else {
                const notPermittedModalOverlay = document.querySelector('#not-permitted-modal-overlay');
                notPermittedModalOverlay.classList.toggle('hidden');
                notPermittedModalOverlay.classList.toggle('flex');
            }
        }

        function closeNotPermittedModal() {
            const overlay = document.querySelector('#not-permitted-modal-overlay');
            overlay.classList.toggle('hidden');
            overlay.classList.toggle('flex');
        }

        function closeDeleteModal() {
            const overlay = document.querySelector('#delete-modal-overlay');
            overlay.classList.toggle('hidden');
            overlay.classList.toggle('flex');
        }

        function deleteChoice(choiceNumber) {
            var choiceForDeletion = document.getElementById("choice-input-" + choiceNumber);
            choiceForDeletion.parentElement.removeChild(choiceForDeletion);

            var questionForm = document.getElementById("question-form");
            var count = questionForm.getAttribute("data-question-form-count");
            questionForm.setAttribute("data-question-form-count", parseInt(count) - 1);
        }
    </script>
</div>
</body>
</html>