<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header-fragments :: header-input('Ask Question Form')"></div>
</head>
<body>
<div class="flex justify-center">
    <form th:object="${askQuestionForm}"
          th:action="@{/quiz}"
          method="post">
        <input type="hidden" th:value="${id}" name="id">
        <div>
            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-6">
                    <label class="block text-2xl font-medium text-gray-700">
                        <span id="question-text">Question 1</span>
                    </label>
                    <div th:each="choice : *{choices}">
                        <label th:for="${'choice-'+choice}"
                               class="inline-flex items-center">
                            <input type="checkbox"
                                   th:field="*{selectedChoices}"
                                   th:value="${choice.index}"
                                   class="form-checkbox"
                                   name="checkbox"
                            >
                            <span th:text="${choice.text}" class="ml-2"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            Save
        </button>
    </form>
    <script th:inline="javascript">
        var converter = new showdown.Converter();
        var questionArea = document.getElementById("question-text");
        var question = [[${askQuestionForm.question}]];
        var convertedHtml = converter.makeHtml(question);
        questionArea.innerHTML = convertedHtml;
    </script>
</div>
</body>
</html>